/* 
.skill-card{
    flex: 0 0 25%!important;
    margin-bottom: 1.5vh!important;
    font-family: 'Nanum Gothic', sans-serif;
    font-size:0.9rem;
}

.skill-card-title{
    font-weight: bold;
    margin-top:1vh;
}

.card-img-top{
    width:5vw;
    height: auto;
    margin: auto;
}

.skill-card-text{
    margin-bottom: 0.5rem;
} */