.header{
    margin-top: 1rem;
}


.header-div {
    display: inline-block;
}

.header-title{
    margin-left: 7rem;
    font-weight: bold;
}

.header-nav{
    float: right;
    margin-right: 10rem;
}

.header-nav .nav-link{
    margin-right: 2rem;
    color:black;
    font-weight: 350;
}

.header hr{
    margin-top: 0.3rem;
}



